*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.error{
    margin-top: 4px;
    display: block;
    color: red;
    font-size: 14px;
    font-style: italic;
    text-align: center;
}