<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:p="http://www.springframework.org/schema/p"
        xmlns:mvc="http://www.springframework.org/schema/mvc"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
	   		http://www.springframework.org/schema/beans/spring-beans.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- Spring MVC Annotation -->
    <context:annotation-config/>
    <mvc:annotation-driven/>

    <!-- Cấu hình view -->
    <bean id="viewResolver"
          p:prefix="/WEB-INF/views/" p:suffix=".jsp"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver"/>



    <mvc:resources mapping="/resource/**" location="/WEB-INF/resource/"/>

    <!-- Cấu hình package chứa các controller -->
    <context:component-scan base-package="com.ptithcm.tttn.controller"/>

    <!--    cấu hình beans-->
    <bean id="chiTietKMDAO" class="com.ptithcm.tttn.DAOImpl.ChiTietKMDAOImpl"/>
    <bean id="ctDonHangDAO" class="com.ptithcm.tttn.DAOImpl.CTDonHangDAOImpl"/>
    <bean id="donHangDAO" class="com.ptithcm.tttn.DAOImpl.DonHangDAOImpl"/>
    <bean id="khachHangDAO" class="com.ptithcm.tttn.DAOImpl.KhachHangDAOImpl"/>
    <bean id="loaiSPDAO" class="com.ptithcm.tttn.DAOImpl.LoaiSPDAOImpl"/>
    <bean id="nhaCungCapDAO" class="com.ptithcm.tttn.DAOImpl.NhaCungCapDAOImpl"/>
    <bean id="nhanVienDAO" class="com.ptithcm.tttn.DAOImpl.NhanVienDAOImpl"/>
    <bean id="quyenDAO" class="com.ptithcm.tttn.DAOImpl.QuyenDAOImpl"/>
    <bean id="sanPhamDAO" class="com.ptithcm.tttn.DAOImpl.SanPhamDAOImpl"/>
    <bean id="taiKhoanDAO" class="com.ptithcm.tttn.DAOImpl.TaiKhoanDAOImpl"/>    
    <bean id="phieuDatDAO" class="com.ptithcm.tttn.DAOImpl.PhieuDatDAOImpl"/>
    <bean id="ctPhieuDatDAO" class="com.ptithcm.tttn.DAOImpl.CTPhieuDatDAOImpl"/>
    <bean id="phieuNhapDAO" class="com.ptithcm.tttn.DAOImpl.PhieuNhapDAOImpl"/>
    <bean id="ctPhieuNhapDAO" class="com.ptithcm.tttn.DAOImpl.CTPhieuNhapDAOImpl"/>
    <bean id="khuyenMaiDAO" class="com.ptithcm.tttn.DAOImpl.KhuyenMaiDAOImpl"/>
    <bean id="hoaDonDAO" class="com.ptithcm.tttn.DAOImpl.HoaDonDAOImpl"/>
    
</beans>