<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   		http://www.springframework.org/schema/beans/spring-beans.xsd




			http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--  > Cấu hình interceptor >

        < Lọc tất cả các URL >
    < 	<bean class="ptithcm.Intercepter.LoggerInterceptor" /> -->

    <!-- > Chỉ lọc các URL theo path -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/Admin/**"/>
            <mvc:exclude-mapping path="/Admin/login.htm"/>
            <bean class="com.ptithcm.tttn.interceptor.LoggerInterceptor"/>
        </mvc:interceptor>

        <mvc:interceptor>
            <mvc:mapping path="/User/login.htm"/>
            <mvc:mapping path="/User/register.htm"/>
            <mvc:exclude-mapping path="/User/home.htm"/>
            <bean class="com.ptithcm.tttn.interceptor.InLoggerCustomerInterceptor"/>
        </mvc:interceptor>

        <mvc:interceptor>
            <mvc:mapping path="/User/cart/**"/>
            <mvc:mapping path="/User/cart.htm"/>
            <mvc:mapping path="/User/info.htm"/>
            <mvc:mapping path="/User/changePass.htm"/>
            <mvc:mapping path="/User/history.htm"/>
            <mvc:mapping path="/User/history/**"/>
            <mvc:mapping path="/User/product.htm"/>
            <mvc:exclude-mapping path="/User/login.htm"/>
            <bean class="com.ptithcm.tttn.interceptor.LoggerCustomerInterceptor"/>
        </mvc:interceptor>

    </mvc:interceptors>

</beans>